<div class="user_pic">
    <img src="<%= @user.img_url %>" alt="profile pic">
</div>

<div class="user_name">
    <h1><%= @user.username.upcase %></h1>
    <%= link_to "Make a New Checklist", new_checklist_path %>

<br>
<br>

<%= link_to("Edit This User", edit_user_path(@user))%>

    <%= button_to 'Delete User', @user, method: :delete %>

    <br>
    <br>

<%= link_to "Explore Checklists", checklists_path %>

<br>
<br>

<%= link_to "log-out", sessions_logout_path, method: :delete %>
</div>

<div class="user_checklists">
Your checklists:
<ul>
    <% @user.checklists.each do |checklist| %>
        <li><%= link_to(checklist.title, checklist_path(checklist))%></li>
    <% end %>
</ol>
</div>
