  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

<h1>Make a new Checklist</h1>

<%= form_for @checklist do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :category_name %>
      	<%= fields_for @task_checklists do |ff| %>
      		<%= ff.collection_select :task_id, Task.all, :id, :name, {:prompt => "Please Select a Sector"}, {:multiple => true} %>
      	<% end %>
    <%= f.submit %>
<% end %>