<h1><%= @checklist.title %></h1>

<h2>
	Time to Complete: <%=@checklist.total_time%> minutes 
	<%= button_to 'Start Timer' %>
</h2>

<h3> Upcoming Tasks: </h3>
<p>
	<% @checklist.tasks.each do |task| %>
		<p>
			<%= check_box_tag task.name, :remember_me, params[:remember_me] %>
			<%= label_tag task.name%>
		</p>
	<% end %>
	<%= button_to 'Submit', @checklist, method: :update %>
</p>

<h3> Add a Task to This Checklist </h3>

  <% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

<%= form_for @task_checklist do |f| %>
    <%= f.label :task_id %>
    <%= f.collection_select :task_id, Task.all, :id, :name %>

    <%= f.hidden_field :checklist_id, value: @checklist.id %>

    <%= f.submit 'Add' %>

<% end %>

<p>Delete this checklist?</p>
<%= button_to 'Delete Checklist', @checklist, method: :delete %>
