<%= @checklist.title %>

<h3>Time to Complete: <%=@checklist.total_time%> minutes </h3>
<%= button_to "start timer" %>
<h2> Upcoming Tasks: </h2>
<p>
<% @checklist.tasks.each do |task| %>
<ul>
	<li>
	<%= check_box_tag task.name, :remember_me, params[:remember_me] %>
	<%= label_tag task.name%>
	</li>
</ul>
<% end %>
<%= link_to 'submit', checklist_path(@checklist) %>
</p>

<h1> Add a Task to a Checklist </h1>

<%= form_for @task_checklist do |f| %>
    <%= f.label :task_id %>
    <%= f.collection_select :task_id, Task.all, :id, :name %>

    <%= f.hidden_field :checklist_id, value: @checklist.id %>

    <%= f.submit %>

<% end %>

<p>Delete this checklist?</p>
<%= button_to 'delete checklist', @checklist, method: :delete %>
