<!-- <h1> Add a Task to a Checklist </h1>

<%= form_for @task_checklist do |f| %>
    <%= f.label :task_id %>
    <%= f.collection_select :task_id, Task.all, :id, :name %>

    <%= f.hidden_field :checklist_id, @checklist.id %>

    <%= f.submit %>

<% end %> -->