<h1> Add a Task to a Checklist </h1>

<%= form_for @task_checklist do |f| %>
    <%= f.label :task_id %>
    <%= f.collection_select :task_id, Task.all, :id, :name %>

    <%= f.label :checklist_id %>
    <%= f.collection_select :checklist_id, Checklist.all, :id, :title %>

    <%= f.submit %>

<% end %>