<!DOCTYPE html>
<html>
  <head>
    <title>ChecklistSlovakia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="navbar">  
      <% if current_user %> 
       <ul>  
          <li class="right"> <%= button_to "Explore", '/checklists', method: :get%> </li>
          <li class="right"> <%= button_to "Create", '/checklists/new', method: :get%></li>
        </ul>
      <% else%>
      <ul>  
          <li class="left"> <%= button_to "Login", '/login', method: :get%> </li>
          <li class="left"> <%= button_to "Sign Up", '/users/new', method: :get%></li>
        </ul>
      <%end %>
    </div>
    <%= yield %>
  </body>
</html>